<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-6 img-responsive">
				<%= image_tag("me.jpg", :alt => "rss feed") %>
			</div>
			<div class="col-md-6">
				<h1 class="text-center">About Me</h1>
				<p>I'm an experienced digital marketer who has spent nearly 6 years practicing SEO, Conversion Rate Optimization and Growth Strategy. I currently reside in Okinawa, Japan where I live with my lovely wife, daughter and son.</p>
				<p class="text-center">If you have questions or could use some help on your Digital Marketing strategy I would love to connect with you.</p>
				<div class="row">
					<div class="col-md-6">
						<p class="text-center"><a class="btn btn-success btn-block" href="#" role="button">Contact Me</a></p>
					</div>
					<div class="col-md-6">
						<p class="text-center"><a class="btn btn-default btn-block" href="#" role="button">View My Services</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h1 class="text-center text-muted" style="color: F64747">My History and Work Experience</h1>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<%= image_tag("rsz_1g5.jpg", :alt => "rss feed") %>
		</div>
		<div class="col-md-8 col-lg-8 col-sm-8">
			<h3><b>SEO Manager & Strategist</b></h3>
			<p class="text-muted" style="font-size: 20px">April 2013 - April 2015 - Bend, Oregon</p>
			<p>G5 was a fantastic company to work for and I feel blessed to have worked there for several years.</p>
			<p>My primary duties at G5 where to figure out how to scale SEO and strategy for more than 5000 client locations while making sure that we were not sacrificing value. We ended up implementing two system that allowed us to track client growth and success. We wollowed this up by comparing them to a benchmarking tool</p>
			<p>Other responsibilities included client presentations, on going advisement, site audits, competitive analysis, link building, citations and content creation.</p>
		</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<%= image_tag("rsz_1cdk_logo_rgb.jpg", :alt => "rss feed") %>
		</div>
		<div class="col-md-8 col-lg-8 col-sm-8">
			<h3>SEO Specialist II</h3>
			<p class="text-muted" style="font-size: 20px">April 2013 - April 2015 - Seattle, Washington</p>
			<p>CDK Global which was formally known as ADP Dealer Services</p>
			<p>My main responsibilities entailed constant contact with Dealership Owners and their marketing personnel.</p>
			<p>At any one time I was keeping track of roughly 30-45 dealer sites and </p>
		</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<%= image_tag("http://placehold.it/350x150", :alt => "rss feed") %>
		</div>
		<div class="col-md-8 col-lg-8 col-sm-8">
			<h3>CO-Founder & SEO Lead</h3>
			<p class="text-muted" style="font-size: 20px">April 2013 - April 2015 - Sisters, Oregon</p>
			<p>This company actually started as an experiement with the primary purpose of testing Googles algorthims. But what started as a test quickly turned into a very good business. By month 6 of operations the website was doing more than 250k per month in sales and had reached top positions for extremely competitive keywords.</p>
			<p>Most of my time involved the creation of content, link building and conversion optimization.</p>
			<p>Using a variety of tools we focused on A/B split testing to continually improve sales and lower customer abandonment.</p>
		</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<%= image_tag("marine.jpg", :alt => "rss feed") %>
		</div>
		<div class="col-md-8 col-lg-8 col-sm-8">
			<h3>Lead Administrative Specialist</h3>
			<p class="text-muted" style="font-size: 20px">April 2013 - April 2015 - Okinawa, Japan</p>
			<p>Joining the Marines was one of the best decisions I have ever made. It taught me a lot about leadership, hard work and perseverence.</p>
			<p>I lead the effort for the Marine Corps to consolidate 4 separate administrative centers in order to pass a variety of Marine Corps inspections. I was also in charge of leading a team personnel to monitoring and correcting the pay and entitlements for all Marines serving in Okinawa, Japan.</p>
			<p>Other responsibilities included creating orders for military personnel, keep record books updated</p>
		</div>
	</div>
	<br>
	<br>
	<h1 class="text-center text-muted" style="color: F64747">Skills, Tools & Programming Experience</h1>
	<div class="row alert alert-info">
		<div class="col-md-4">
			<h3>Related Skills</h3>
			<ul>
				<li>Conversion Rate Optimization</li>
				<li>A/B Split Testing</li>
				<li>SEO</li>
				<li>Google Penalty Recovery</li>
				<li>Content Creation & Promotion</li>
				<li>SEM</li>
				<li>Competitive Analysis</li>
				<li>Site Architecture Design</li>
				<li>Site Audits</li>
				<li>Keyword Analysis & Research</li>
				<li>Link & Citation Building</li>
				<li>Google My Business</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Tools</h3>
			<ul>
				<li>Optimizely</li>
				<li>Crazy Egg</li>
				<li>Google Analytics</li>
				<li>Google Webmaster Tools</li>
				<li>SEM Rush</li>
				<li>BrightEdge</li>
				<li>MOZ Tools</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Programming & Development</h3>
			<ul>
				<li>Ruby on Rails</li>
				<li>Ruby</li>
				<li>JavaScript</li>
				<li>Jquery</li>
				<li>CSS</li>
				<li>HTML</li>
				<li>SQL</li>
				<li>Heroku</li>
				<li>Amazon Web Services</li>
			</ul>
		</div>
	</div>
</div>
